{% extends "blog/base.html" %}

{% block content %}

  <div class="centerstage">
    {% for post in post_list %}
      <div class="post">
        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date">
          <p>Published on: {{ post.published_date|date:"d M, Y" }}</p>
        </div>
        <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
      </div>
      {% empty %}
      <p class="display-4 text-center">No blogs published yet! {% if user.is_authenticated %}
      <a class="" href="{% url 'blog:post_new' %}">Create</a> here. {% else %}
      <a class="" href="{% url 'login' %}">Login</a> and publish your own blog!
      {% endif %}</p>
    {% endfor %}
  </div>

{% endblock %}
